#anchor {
    -fx-background-image:  url('/poster_images/background1.png');
    -fx-background-color:  #ff397f;
}
#anchorLarge{
    -fx-background-image:  url('/poster_images/background1_1.png');
    -fx-background-color:  #ff397f;
}
#labelUse,#labelPass,#nameLabel,#surnameLabel,#mailLabel{
    -fx-text-fill: #EED4F9 ;
    -fx-font-weight: bold;
    -fx-font-size: 36;
}
.text-field,.password-field{

    -fx-background-color: #a9a9a9 , white;
    -fx-text-fill: #51083E;
    -fx-background-radius: 5 ;
    -fx-font-size:29 ;
}
.text-field:focused {
    -fx-background-color: #982649  , white;
    -fx-background-insets: 0, 0 0 5 0 ;
    -fx-background-radius: 5 ;
}
/*#passField{*/
/*    -fx-text-fill: #7E97FF;*/
/*}*/
#aboutmeBtn,#signupBtn,#backBtn,#loginBtn,#confirmBtn,#selectBtn,#buyBtn,#removeBtn,#logoutBtn{
    -fx-shape: "M 350 450 L 200 300 L 350 150 L 500 300 L 350 450   ";
    -fx-effect: dropshadow(three-pass-box, #b7ded7, 10, 0, 0, 0);
    -fx-background-color:#4711AD ;
    -fx-text-fill:white;
}
#aboutmeBtn:hover,#signupBtn:hover,#backBtn:hover,#loginBtn:hover,#confirmBtn:hover,#selectBtn:hover,#buyBtn:hover,#removeBtn:hover,#logoutBtn:hover {
    -fx-background-color: #930E70;
    -fx-scale-y: 1.3;

}
#imageVBox{
    -fx-background-image:   url('/poster_images/background3.png');
    -fx-background-size:  100% 100%;
}
#trailerBtn{
    -fx-shape: "M 200 250 L 150 300 L 450 300 L 500 250 L 200 250 ";
    -fx-effect: dropshadow(three-pass-box,#fff2e5, 10, 0, 0, 0);
    -fx-background-color:#60B2E5 ;

}
#trailerBtn:hover{
    -fx-background-color: #982649;
    -fx-scale-x: 1.3;
    -fx-text-fill:white;
}

#setButton{
    -fx-background-image:  url('/poster_images/set.png');
    -fx-background-size: 50 57;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
#setButton:hover{
    -fx-effect: dropshadow(three-pass-box, #b7ded7,10,0,0,0);
}

#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img5:hover,#img6:hover{
    -fx-effect: dropshadow(three-pass-box, #b7ded7, 40, 0, 0, 0);
}

#pane1,#pane6{
    -fx-background-color:  #A8D5F0;
}
#pane2,#pane4{
    -fx-background-color:  #E0BFD2;
}
#pane3,#pane5{
    -fx-background-color:  #A1F9FF;
}

#name1,#name2,#name3,#name4,#name5,#name6{
    -fx-text-fill: #4A0839;
}

.table-view{
    -fx-selection-bar:#930E70;
    -fx-selection-bar-non-focused: #ff397f;
}

#colourPane{
    -fx-background-color:#352d97;
}