#anchor{
    -fx-background-image:  url('/poster_images/background2_1.png');
    -fx-background-color:   #67328f;

}
#anchorLarge{
    -fx-background-image:  url('/poster_images/background2.png');
    -fx-background-color:   #67328f;
}
#labelUse,#labelPass,#nameLabel,#surnameLabel,#mailLabel{
    -fx-text-fill: orange ;
    -fx-font-weight: bold;
    -fx-font-size: 36;
}
.text-field,.password-field{

    -fx-background-color: #a9a9a9 , white;
    -fx-text-fill: #5D2400;
    -fx-background-radius: 5 ;
}
.text-field:focused {
    -fx-background-color: orange  , white;
    -fx-background-insets: 0, 0 0 5 0 ;
    -fx-background-radius: 5 ;
}
/*#passField{*/
/*    -fx-text-fill: #7E97FF;*/
/*}*/
#aboutmeBtn,#signupBtn,#backBtn,#loginBtn,#confirmBtn,#selectBtn,#buyBtn,#removeBtn,#logoutBtn{
    -fx-shape: "M 350 450 L 200 300 L 350 150 L 500 300 L 350 450   ";
    -fx-effect: dropshadow(three-pass-box, yellow, 10, 0, 0, 0);
    -fx-background-color:#67328F ;
    -fx-text-fill:white;
}
#aboutmeBtn:hover,#signupBtn:hover,#backBtn:hover,#loginBtn:hover,#confirmBtn:hover,#selectBtn:hover,#buyBtn:hover,#removeBtn:hover,#logoutBtn:hover {
    -fx-background-color: orange;
    -fx-scale-y: 1.3;

}
#imageVBox{
    -fx-background-image:   url('/poster_images/background2.png');
    -fx-background-size:  100% 100%;
}
#trailerBtn{
    -fx-shape: "M 200 250 L 150 300 L 450 300 L 500 250 L 200 250 ";
    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 0, 0);
    -fx-background-color:mediumvioletred ;
}
#trailerBtn:hover{
    -fx-background-color: darkred;
    -fx-scale-x: 1.3;
}

#setButton{
    -fx-background-image:  url('/poster_images/set.png');
    -fx-background-size: 50 57;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
#setButton:hover{
    -fx-effect: dropshadow(three-pass-box, orangered, 10, 0, 0, 0);
}

#pane1,#pane6{
    -fx-background-color:  #71edde;
}
#pane2,#pane4{
    -fx-background-color:  #ffee9c;
}
#pane3,#pane5{
    -fx-background-color:  #d1fcff ;
}
.table-view{
    -fx-selection-bar: #ae00ff;
    -fx-selection-bar-non-focused: orange;
}
#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img5:hover,#img6:hover{
    -fx-effect: dropshadow(three-pass-box, orangered, 40, 0, 0, 0);
}

#colourPane{
    -fx-background-color: #7735a6;
}