#anchor{
    -fx-background-color: #4d5784;

}
#anchorLarge{
    -fx-background-color:   #4d5784;
}
#labelUse,#labelPass,#nameLabel,#surnameLabel,#mailLabel{
    -fx-text-fill: #fff2e5 ;
    -fx-font-weight: bold;
    -fx-font-size: 36;
}
.text-field,.password-field{

    -fx-background-color: #a9a9a9 , white;
    -fx-text-fill: #394061;
    -fx-background-radius: 5 ;
    -fx-font-size:29 ;
}
.text-field:focused {
    -fx-background-color: #ff545e  , white;
    -fx-background-insets: 0, 0 0 5 0 ;
    -fx-background-radius: 5 ;
}
/*#passField{*/
/*    -fx-text-fill: #7E97FF;*/
/*}*/
#aboutmeBtn,#signupBtn,#backBtn,#loginBtn,#confirmBtn,#selectBtn,#buyBtn,#removeBtn,#logoutBtn{
    -fx-shape: "M 350 450 L 200 300 L 350 150 L 500 300 L 350 450   ";
    -fx-effect: dropshadow(three-pass-box, pink, 10, 0, 0, 0);
    -fx-background-color:#ff748a ;
    -fx-text-fill:white;
}
#aboutmeBtn:hover,#signupBtn:hover,#backBtn:hover,#loginBtn:hover,#confirmBtn:hover,#selectBtn:hover,#buyBtn:hover,#removeBtn:hover ,#logoutBtn:hover{
    -fx-background-color: #ff545e;
    -fx-scale-y: 1.3;

}
#imageVBox{
    -fx-background-image:   url('/poster_images/background3.png');
    -fx-background-size:  100% 100%;
}
#trailerBtn{
    -fx-shape: "M 200 250 L 150 300 L 450 300 L 500 250 L 200 250 ";
    -fx-effect: dropshadow(three-pass-box,#fff2e5, 10, 0, 0, 0);
    -fx-background-color:#6f97b1 ;

}
#trailerBtn:hover{
    -fx-background-color: #ff545e;
    -fx-scale-x: 1.3;
    -fx-text-fill:white;
}

#setButton{
    -fx-background-image:  url('/poster_images/set.png');
    -fx-background-size: 50 57;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
#setButton:hover{
    -fx-effect: dropshadow(three-pass-box, #FF3855,10,0,0,0);
}

#img1:hover,#img2:hover,#img3:hover,#img4:hover,#img5:hover,#img6:hover{
    -fx-effect: dropshadow(three-pass-box, #FF3855, 40, 0, 0, 0);
}

#pane1,#pane6{
    -fx-background-color:  #b7ded7;
}
#pane2,#pane4{
    -fx-background-color:  #fff2e5;
}
#pane3,#pane5{
    -fx-background-color:  #BDCFDB ;
}

#name1,#name2,#name3,#name4,#name5,#name6{
    -fx-text-fill: #A34A58;
}

.table-view{
    -fx-selection-bar:#FF606E;
    -fx-selection-bar-non-focused: #6f97b1;
}

#colourPane{
    -fx-background-color:#424E84;
}